App/MovieRental/.vs/MovieRental/FileContentIndex/0d708410-c81d-479d-9a46-40d5dfda7fef.vsidx
App/MovieRental/.vs/MovieRental/FileContentIndex/1ca23e95-a15c-4030-9458-d76d9bb6a6d4.vsidx
App/MovieRental/.vs/MovieRental/FileContentIndex/cda26851-9175-4422-97d2-66a5cf34017e.vsidx
App/MovieRental/.vs/MovieRental/FileContentIndex/86d04bd8-4cb5-4021-8f7b-626952488eb8.vsidx
App/MovieRental/.vs/MovieRental/FileContentIndex/800f252b-069b-4f3e-9511-2027fcfca71b.vsidx
App/MovieRental/.vs/MovieRental/FileContentIndex/74aac598-d367-435c-8d0d-3ea1b4c27ae9.vsidx
